*{
    border-radius: 3px;    
    margin: 0px;
}

body{
    padding-top: 0px;
}

#mainDiv{
    
    padding-top: 130px;
    padding-right: 40px;
    width: 100%;
    height: 700px; 
    background-image: url(/rentAcar/images/signup_back_image.jpg);
    background-size: cover;
    
}

.headBlackDiv{    
    
    margin: 0px;
    width: 100%;
    height: 100px;
    float: right;
    color: white;
    padding-left: 20px;
    background-color: black;
    border-radius: 0px !important; 
    margin-bottom: 30px;
    
}

.headBlackDiv span{
    
    margin-top: 20px;
    
}

.fadedDiv{
    
    margin-top: 15%;
    background-color: orange;
    width: 300px;
    height: 500px;
    
}

input:checked {
    
    border: 1px solid white;
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: transparent;

}

.mapDivHeight{
    
    /*background-image: url('/rentAcar/images/dummyMap.jpg');*/
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 30%;
    background-color: white;
    
}

.contactInformation{
    color: white;
}

.pinkDiv{
    
    height: 200px;
    background-color: pink;
}

.orangeDiv{
    
    background-color: orange;
}

.control-label{
    color: white;
}

.gm-style{
    left: -15px !important;
}


/*time picker style ================================================================== */


/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 10px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 5px;
  margin-bottom: 5px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 10px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 12px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 5px 10px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/* addtional css */
.dl-horizontal {
	text-align:left;
}
.height500 {
    height: 500px;
    margin: 85px 0;
    overflow: auto;
}
input[type='text'] {
   color:#333333;
}
.myclass input[type='text']{
   color:#5CB85C
}
.indexpicker .time_pick {
	width:270px;
	display:inline-block;
}
.indexpicker .time_pick > input { width:100%; margin-bottom:20px;}

@media only screen and (max-width:768px){
ul.dropdown-menu.drop-down-list>li>a {
    color: #fff !important;
}
.set-upld-img {
    right: 12% !important;
    top: -3%!important;
}
.the-fieldset1 {
    height: auto !important;
    margin-top:175px;
}
}
@media only screen and (max-width:667px){
.footer>div {
    width: 100%;
    float: none;
    display: -webkit-box;
    text-align: center !important;
    margin-top: 5px !important;
}
.main-ftr {
    margin-top: 10px !important;
    text-align: center;
    float: none !important;
}
}
@media only screen and (max-width:480px){
h1.f-44.white {
    font-size: 30px;
}
.form-control {
    width: 87% !important;
}
.the-fieldset1 {
    height: auto !important;
}
}
